@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-Light.otf");
}
@font-face {
  font-family: "System85";
  src: url("../assets/fonts/system85-regular-trial.otf");
  font-weight: 400;
}
@font-face {
  font-family: "System85";
  src: url("../assets/fonts/system85-bold-trial.otf");
  font-weight: 600;
}
@font-face {
  font-family: "System85";
  src: url("../assets/fonts/system85-medium-pro.otf");
  font-weight: 500;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "System85", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
.App {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.logo {
  position: absolute;
  top: 26px;
  left: 37px;
}
