@font-face {
  font-family: "PP Editorial New";
  src: url("assets/fonts/PPEditorialNew-Light.otf");
}
body {
  margin: 0;
  font-family: "PP Editorial New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
